
@{
    var customers = ViewData["customers"] as List<CRM.Models.Customer>;
    var deals = ViewData["deals"] as List<CRM.Models.Deal>;
    var activities = ViewData["activities"] as List<CRM.Models.Activity>;
    ViewBag.Title = "Dashboard";
}


    <div class="container-fluid  dashboard-content">
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                <div class="page-header">
                    <h2 class="pageheader-title">Dashboard</h2>

                    <div class="page-breadcrumb">
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="#" class="breadcrumb-link">Manager</a></li>
                                <li class="breadcrumb-item"><a href="#" class="breadcrumb-link">Dashboard</a></li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12 col-12">
                <div class="card">
                    <div class="card-body">
                        <h5 class="text-muted">Customers</h5>
                        <div class="metric-value d-inline-block">
                            <h1 class="mb-1 text-primary">@customers.Count</h1>
                        </div>
                    </div>
                    <div id="sparkline-1"></div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12 col-12">
                <div class="card">
                    <div class="card-body">
                        <h5 class="text-muted">Deals</h5>
                        <div class="metric-value d-inline-block">
                            <h1 class="mb-1 text-primary">@deals.Count</h1>
                        </div>
                    </div>
                    <div id="sparkline-1"></div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12 col-12">
                <div class="card">
                    <div class="card-body">
                        <h5 class="text-muted">Activities</h5>
                        <div class="metric-value d-inline-block">
                            <h1 class="mb-1 text-primary">@activities.Count</h1>
                        </div>
                    </div>
                    <div id="sparkline-1"></div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                <div class="card" id="pro-bars">
                    <h5 class="card-header">Sales Stages</h5>
                    <div class="card-body">
                        <p class="text-muted"><strong>Leads: </strong>@ViewData["leads-count"]</p>
                        <p class="text-muted"><strong>Pitched: </strong>@ViewData["pitched-count"]</p>
                        <p class="text-muted"><strong>Qualified: </strong>@ViewData["qualified-count"]</p>
                        <p class="text-muted"><strong>Proposal: </strong>@ViewData["proposal-count"]</p>
                        <p class="text-muted"><strong>Negotiation: </strong>@ViewData["negotiation-count"]</p>
                        <p class="text-muted"><strong>Closed: </strong>@ViewData["closed-count"] Win : @ViewData["win-count"] Lost : @ViewData["lost-count"]</p>
                        <p class="text-muted"><strong>Total Value: </strong>@ViewData["totalValue"]</p>
                    </div>
                </div>
            </div>
        </div>
