@model IEnumerable<CRM.Models.Customer>

@{
    ViewBag.Title = "Customers";
}

@section css{
    <link href="~/Content/datatables/datatable.css" rel="stylesheet" />
}

@section scripts{

    <script src="~/Content/datatables/datatable.js"></script>
    <script src="~/Scripts/inc/customer.js"></script>
}

<div class="container-fluid  dashboard-content">
    <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
            <div class="page-header">
                <h2 class="pageheader-title">Customers</h2>
                
                <div class="page-breadcrumb">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="#" class="breadcrumb-link">Sales</a></li>
                            <li class="breadcrumb-item"><a href="#" class="breadcrumb-link">Customers</a></li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
            <div class="card">
                <h5 class="card-header">
                    List
                    <a href="#" onclick="getCreate()" class="btn btn-sm btn-success float-right" id="add" data-toggle="modal" data-target="#bigModal">
                        <i class="fa fa-plus"></i>
                        Add
                    </a>
                </h5>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-striped table-hover table-bordered first" id="customersTable">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Type</th>
                                    <th>Business</th>
                                    <th>Industry</th>
                                    <th width="20%">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var customer in Model)
                                {
                                    <tr>
                                        <td>@customer.name</td>
                                        <td>@customer.customer_type</td>
                                        <td>@customer.business_type</td>
                                        <td>@customer.industry</td>
                                        <td>
                                            <a href="#" onclick="viewCustomer(@customer.ID)" class="btn btn-sm btn-outline-dark" id="editUser" data-toggle="modal" data-target="#bigModal">
                                                <i class="fa fa-eye"></i>
                                            </a>
                                            &nbsp; | &nbsp;
                                            <a href="#" onclick="editCustomer(@customer.ID,this)" class="btn btn-sm btn-outline-info" id="editUser" data-toggle="modal" data-target="#bigModal">
                                                <i class="fa fa-edit"></i>
                                            </a>
                                            &nbsp; | &nbsp;
                                            <a href="#" onclick="deleteCustomer(@customer.ID,this)" class="btn btn-sm btn-outline-danger" id="deleteUser">
                                                <i class="fa fa-trash"></i>
                                            </a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                            <tfoot>
                                <tr>
                                    <th>Expiry Date</th>
                                    <th>Name</th>
                                    <th>Category</th>
                                    <th>Quantity</th>
                                    <th>Action</th>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
